<%= form_with model: shop, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :holiday %>
    <%= f.text_field :holiday, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.collection_check_boxes(:soba_raito_ids, SobaRaito.all, :id, :name) do |n| %>
      <%= n.label { n.check_box + n.text } %>
    <% end %>
  </div>
  <% unless shop.new_record? %>
    <div class="form-group">
      <%= f.label :closed %>
      <%= f.check_box :closed, { checked: shop.closed == :confirm } %>
    </div>
  <% end %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>