<h1>Shops#show</h1>
<p>Find me in app/views/shops/show.html.erb</p>

<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1> タイトル</h1>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-9'>
              <h3 class="d-inline"><%= @shop.name %></h3>
              <%= link_to edit_shop_path(@shop) do %><i class="fa-solid fa-pen"></i><% end %>
              <%= link_to shop_path(@shop), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %><i class="fa-solid fa-trash"></i><% end %>      
              <ul class="list-inline">
                <li class="list-inline-item">by <%= @shop.address %></li>
                <li class="list-inline-item"><%= l @shop.created_at, format: :long  %></li>
              </ul>
            </div>
          </div>
          <p><%= simple_format(@shop.holiday) %></p>
        </div>
      </article>
    </div>
  </div>
  <%= render 'records/records', { records: @records} %>
  <%= link_to "作成する", new_shop_record_path(@shop) %>
</div>
