<div class="record-top">
  <%= record.user.name %>
  <%= link_to "編集", edit_shop_record_path(shop, record) %>
  <a href="#" class='js-delete-record-button' data-record-id="<%= record.id %>">削除</a>
</div>

<div class="card">
  <div class="card-body">
    <div class="record_title">
      蕎麦<hr>
    </div>
    <div class="record_form">
      <label for="soba_texture" class="form-label"><%= Record.human_attribute_name(:soba_texture) %></label>
      <input type="range" class="form-range" id="soba_texture" disabled value="<%= record.soba_texture %>">
    </div>
    <div class="record_form">
      <label for="soba_smell" class="form-label"><%= Record.human_attribute_name(:soba_smell) %></label>
      <input type="range" class="form-range" id="soba_smell" disabled value="<%= record.soba_smell %>">
    </div>
    <div class="record_form">
      <label for="soba_aldente" class="form-label"><%= Record.human_attribute_name(:soba_aldente) %></label>
      <input type="range" class="form-range" id="soba_aldente" disabled value="<%= record.soba_aldente %>">
    </div>

    <div class="record_title">
      つゆ<hr>
    </div>
    <div class="record_form">
      <label for="soup_saltiness" class="form-label"><%= Record.human_attribute_name(:soup_saltiness) %></label>
      <input type="range" class="form-range" id="soba_texture" disabled value="<%= record.soup_saltiness %>">
    </div>
    <div class="record_form">
      <label for="soup_taste" class="form-label"><%= Record.human_attribute_name(:soup_taste) %></label>
      <input type="range" class="form-range" id="soup_taste" disabled value="<%= record.soup_taste %>">
    </div>
  </div>
</div>